<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>Главная - Телепрограмма</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	{% load bootstrap5 %}
	{% bootstrap_javascript %}
	{% bootstrap_css %}
	<title>Главная - Телепрограмма</title>
    <style>
        h1{
         color: rgb(7, 7, 7);
         font-family: "Times New Roman", Georgia, Serif;
         background-color: rgb(162, 207, 239);
        }
        h4{
         color: rgb(7, 7, 7);
         font-family: "Times New Roman", Georgia, Serif;
         background-color: rgb(162, 207, 239);
        }
    </style> 
</head>
<body>
	<h1><center><b>Телепрограмма на сегодня</b></center></h1>
    {% for type_show in type_shows %}
    <div>
        <h4><b>{{ type_show.title }}</b></h4>
        <p>{{ type_show.content }}</p>
	</div>
    <ol>
    {% for tv_show in tv_shows %}
    {% if tv_show.type == type_show.title %}
    <li>
    <div>
        <h6>{{ tv_show.title }}</h6>
	</div>
    </li>
    {% endif %}
    {% endfor %}
    </ol>
    {% endfor %}
    <h1><center><b>Подробная информация о передачах:</b></center></h1>
    {% for tv_show in tv_shows %}
    <div>
        <h5>{{ tv_show.title }}</h5>
        <p>{{ tv_show.content }}</p>
        <p><u>{{ tv_show.type }}</u></p>
        <p>{{ tv_show.chanell }}</p>
        <p>{{ tv_show.timestart }} {{'-'}} {{ tv_show.timeend }}</p>
    </div>
    {% endfor %}
</body>
</html>